OTGNet/
.conda/
.vscode/
glove/

SubGraphCL/checkpoints
SubGraphCL/raw_data
SubGraphCL/log

SubGraphCL/data/taobao_node.npy
SubGraphCL/data/taobao.csv
SubGraphCL/data/reddit_node.npy
SubGraphCL/data/reddit.csv

result/

TGNNEXPLAINER-PUBLIC/

*.pyc
*.ipynb_checkpoints

*prev*
*Prev*

TGCL/*

SubGraphCL/data/*

wandb/